@font-face {
  font-family: "Karate";
  src: url("/fonts/Karate.ttf");
}

body {
  color: #a2b6c8;
  font-family: "Roboto", sans-serif;
}

body strong {
  color: #b6cee2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #afbac4;
  margin-bottom: 30px;
}

.dark-title {
  color: #58606a;
  margin-bottom: 20px;
}

.yellow {
  color: #ffd179;
  margin-bottom: 10px;
}

.member-meta span {
  font-weight: bold;
}

.navbar-brand {
  margin-right: 0;
}

.sub-title > h3 {
  text-transform: none;
}

.post-block .content h3 {
  text-transform: none;
}

tbody tr td {
  padding: 5px;
}

tbody tr:nth-child(odd) {
  background-color: #2b2f35;
}

tbody tr td strong {
  color: #bbb;
  font-weight: 700;
}

.hero-area .block h1 {
  color: white;
  /*text-shadow: 2px 2px rgba(255,255,255,0.7);*/
  font-family: "Karate";
  text-transform: none;
  font-weight: 500;
}

img[src$="#center"] {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
}

.caption {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.color {
  color: #bc002d;
}

.border-meghna:before {
  background-color: #bc002d;
}

.title h2 span {
  color: #bc002d;
}

.btn-main {
  background: #387180;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: #bc002d;
  border: 1px solid transparent;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .logo {
    display: none;
  }
  .logo-mobile {
    max-width: 90%;
    background: #00000079;
    box-shadow: 0px 0px 40px 40px #00000079;
  }
}

@media only screen and (min-width: 1024px) {
  .logo-mobile {
    display: none;
  }
  .logo {
    background: #00000079;
    box-shadow: 0px 0px 40px 40px #00000079;
  }
}

.about-2 .content-block .media i {
  font-size: 30px;
  color: #ffd179;
}

.call-to-action p {
  font-size: 20px;
  text-shadow: 0.5px 0.5px 0.5px #fff;
  font-weight: bold;
  color: #282828;
  max-width: 500px;
  margin: auto;
}

.call-to-action h2 {
  color: #bc002d;
}

.member-photo .mask {
  background-color: rgba(255, 209, 121, 0.7);
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.annonces {
  text-align: center;
}

.annonces-row {
  justify-content: center;
}

.annonces-items {
  margin-bottom: 30px;
}

.service-description {
  font-size: 0.8em;
}

.service-block p {
  font-weight: bold;
  color: #ffd179;
}
